**/__pycache__/
**/.ruff_cache/

/.idea/
/.trae/
/.vscode/

/build/
/cache/
/dist/
/game_data/
/logs/

/docs/docs_dev/

/plugins/game/
/plugins/feature/

/yh_mods_manager_sdk/build/
/yh_mods_manager_sdk/dist/
/yh_mods_manager_sdk/yh_mods_manager_sdk.egg-info/

/debug.log
/config/app_settings.json
/config/user_config.json