/* ========================================
   Toast提示样式
   ======================================== */

ToastWidget {
    background-color: transparent;
}

/* Toast标签 */
QLabel[labelType="toast"] {
    color: ${colors.white};
}
